<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
</script>
</head>

<body>
  <section class="wrapper">
    <header>
      <section id="nav">
        <a href='/'>Home</a> ||
        <% if user_signed_in? %>
        	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
      	  <%= link_to "Sign in", new_user_session_path %> ||
      	  <%= link_to "Sign up", new_user_registration_path %> ||
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      	<% end %>
      </section>
    </header>
  </section>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
